image: node:20

pages:
  stage: deploy
  tags:
    - cv          # <-- make sure this matches the tag you gave your NAS runner
  script:
    - npm install
    - npm run build
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - main
